

.hero {
    position: absolute;
    left: 400px;
    padding: 20px 150px;
    text-align: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
    font-size: 80px;
    line-height: 1.1;

}

.hero p {
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    position:absolute;
    top: 550px;
    left: -400px;
    width: 450px;
}
button {
    background-color: #1DEF27;
    width: 400px;
    height: 45px;
   border-radius: 12px;
   box-shadow: 5px 5px 25px black;
font-family:'Times New Roman', Times, serif;
font-size: 24px;
}

button:hover {
transform: scale(1.035);
}

button {
    transition: transform 0.3s ease
    }

button {
    position:absolute;
    right: 800px;
    }

        button {
    background: linear-gradient(
        to right,
        #1DEF27 0%,
        #1DEF27 70%,
        #000000 100%
    );
}